<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CardOrg</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?timestamp=11-13-2021-1148" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.0.custom/jquery-ui.css?timestamp=11-13-2021-850" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <ul id="menu">
                    <li>
                        <a asp-page="/Index">Landing Page</a>
                    </li>
                    <li>
                        <div>Admin</div>
                        <ul>
                            <li>
                                <a asp-page="/Admin/Cards/List">Cards List</a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Sports/List">Sports List</a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Years/List">Years List</a>
                            </li>
                            <li>
                                <a asp-page="/Admin/GradeCompanies/List">Grade Companies List</a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Locations/List">Locations List</a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Players/List">Players List</a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Sets/List">Sets List</a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Teams/List">Teams List</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CardOrg - Chris Konowal
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery-3.6.0.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.0.custom/jquery-ui.js?timestamp?11-13-2021"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js?timestamp=11-23-2021-119"></script>
    <script src="~/lib/plugins/jquery-zoom/jquery.zoom.js"></script>
    <script>
        $("#menu").menu();
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
